__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
venv/
env/
*.sqlite3
*.log
.DS_Store
media/
staticfiles/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
*.mo
*.pot
node_modules/
